{% extends 'hrm/main.html' %}

{% block content %}
{% load static %}
<div class="container">
	<form action="" method="post">
		<div class="row gutters">
			{% csrf_token %}
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
				<div class="card h-100">
					<div class="card-body">
						<div class="account-settings">
							<div class="user-profile">
								<div class="user-avatar">
									<img src="{% static 'hrm/images/avatar.png' %}" alt="image here">
								</div>
								<h6 class="user-name">{{employee.first_name}}&nbsp{{employee.last_name}}</h6>
								<h6 class="user-email">{{employee.username}}</h6>
							</div>
							<div class="about">
								<h5>About</h5>
								<p><textarea name="about" id="id_about" maxlength="500" class="form-control" cols="25" rows="5" required>{{employee.about}}</textarea></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-primary">Personal Details</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_full_name">Full Name</label>
									<input name="full_name" type="text" class="form-control" id="id_full_name" placeholder="Enter full name" value="{{employee.first_name}} {{employee.last_name}}" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_username">Username</label>
									<input name="username" type="text" class="form-control" id="id_username" placeholder="Enter username" value="{{employee.username}}" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_email">Email</label>
									<input name="email" type="email" class="form-control" id="id_email" placeholder="Enter email address" value="{{employee.email}}" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_phone">Phone</label>
									<input name="phone" type="text" class="form-control" id="id_phone" placeholder="Enter phone number" value="{{employee.phone}}" required>
								</div>
							</div>
						</div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mt-3 mb-2 text-primary">Address</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_street">Street</label>
									<input name="street" value="{{employee.address.street}}" type="text" class="form-control" id="id_street" placeholder="Enter Street" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_city">City</label>
									<input name="city" value="{{employee.address.city}}" type="text" class="form-control" id="id_city" placeholder="Enter City" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_state">State</label>
									<input name="state" value="{{employee.address.state}}" type="text" class="form-control" id="id_state" placeholder="Enter State" required>
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="id_zip_code">Zip Code</label>
									<input name="zip_code" value="{{employee.address.zip_code}}" type="number" class="form-control" id="id_zip_code" placeholder="Zip Code" required>
								</div>
							</div>
						</div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<button type="submit" value="submit" class="btn btn-primary">Update</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

</div>

<style type="text/css">
body {
    margin: 0;
    color: #2e323c;
    background: #f5f6fa;
    position: relative;
    height: 100%;
}
.container {
	padding-top: 30px;
}
.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
}
.account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
}
.account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    color: #9fa8b9;
}
.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
}
.account-settings .about h5 {
    margin: 0 0 15px 0;
    color: #007ae1;
}
.account-settings .about p {
    font-size: 0.825rem;
}
.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
}


</style>

{% endblock %}