{% extends 'hrm/main.html' %}

{% block content %}
<div class="row m-5">
    <div class="col-md w-25">
        <div class="card p-5">
            <form action="" method="POST">
                {% csrf_token %}
                <h3>Edit task</h3>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Assign to</label>
                            <p>{{form.assigned_to}}</p>
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Task name</label>
                            <p>{{form.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="formGroupExampleInput">Status</label>
                            <p>{{form.status}}</p>
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="formGroupExampleInput">DeadLine</label>
                            <p><input class="form-control w-50" type="datetime-local" name="deadline" value="{{ form.deadline.value|date:'Y-m-d' }}T{{ form.deadline.value|date:'h:i:s' }}" required="" id="id_deadline"></p>
                        </div>
                    </div>
                </div>
                <p>{{form.context.label}}</p>
                <p>{{form.context}}</p>
                <div class="card">
                    <div class="card-header">Note from the employee</div>
                    <div class="card-body">
                        <i>{{form.note.value}}</i>
                    </div>
                </div>

                <div style="text-align: right;"><input type="submit" class="btn btn-info mt-2" value="Save" name="save"></div>
                <br>
                <div style="text-align: right;"><input type="submit" class="btn btn-danger" value="Delete task" name="delete"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
