<!DOCTYPE html>
<html>
	<head>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
		<title>
			Registration
		</title>
	<head/>
	<body>
		<div class="container">
		<br><br>
		<div class="card bg-light">
			<article class="card-body mx-auto" style="max-width: 400px;">
				<h4 class="card-title mt-3 text-center">Create Account</h4>
				<br><br>
				<form action="" method="POST">
					{% csrf_token %}
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						 </div>
						<input name="full_name" value="{{full_name}}" class="form-control" placeholder="Full name" type="text" autocomplete="false" required>
					</div>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
						 </div>
						<input name="username" value="{{username}}" class="form-control" placeholder="Username" type="text" autocomplete="false" required>
					</div>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input name="password1" value="{{password1}}" class="form-control" placeholder="Create password" type="password" autocomplete="new-password" required>
					</div>
					<div class="form-group input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input name="password2" value="{{password2}}" class="form-control" placeholder="Repeat password" type="password" autocomplete="false" required>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
					</div>
					{% if error %}
						<div class="alert alert-danger">{{error}}</div>
					{% endif %}
				</form>
			</article>
			</div>
		</div>
	</body>
	<br><br>
</html>