{% extends 'hrm/main.html' %}
{% block content %}

<div class="container m-2">
    <h3 class="mb-3 text-success">{{section}} section</h3>
    <div class="row">
        <div class="col-md">
            <div class="card m-1">
                <div class="card-header"><h4>Add employee</h4></div>
                <div class="card-body">
                    <form method="post" action="{% url 'add_employee' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="text" placeholder="example@email.com" name="email" class="form-control" required>
                            <br>
                            <input id="as_manager" type="checkbox" name="as_manager" value="true">
                            <label for="as_manager">manager</label>
                            <input type="hidden" name="section_id" value="{{section.id}}">
                            <input type="hidden" name="next" value="{{request.path}}">
                            <input type="submit" class="btn btn-info mt-2" value="add" style="float:right;">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body m-1 shadow-sm mb-3 bg-white rounded">
                <form method="get">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" name="username" class="form-control w-100">
                        </div>
                        <div class="col-md">
                             <button class="btn btn-primary" type="submit" name="search_manager" value="submit" style="float:right;">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card m-1 shadow-sm p-1 mb-5 bg-white rounded">
                <div class="card-header"><h4>Managers:</h4></div>
                <div class="card-body p-0">
                    <table class="table table-sm table-striped">
                        <thead class="thead-dark">
                            <tr>
                            <th>Username</th>
                            <th style="text-align: center">Add Task</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        {% for manager in managers %}
                            <tr>
                                <td>{{manager}}</td>
                                <td style="text-align: center"><a href="{% url 'create_task' manager.id %}?next={{request.path}}" class="btn btn-sm btn-outline-info">+</a> </td>
                                <td><a class="btn btn-outline-info btn-sm" href="{% url 'employee_profile' manager.id %}">View</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card card-body m-1 shadow-sm mb-3 bg-white rounded">
                <form method="get">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" name="username" class="form-control w-100">
                        </div>
                        <div class="col-md">
                             <button class="btn btn-primary" type="submit" name="search_employee" value="submit" style="float:right;">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card m-1 shadow-sm p-1 mb-5 bg-white rounded">
                <div class="card-header"><h4>Employees:</h4></div>
                <div class="card-body p-0">
                    <table class="table table-sm table-striped">
                        <thead class="thead-dark">
                            <tr>
                            <th>Username</th>
                            <th style="text-align: center">Add Task</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        {% for employee in employees %}
                            <tr>
                                <td>{{employee}}</td>
                                <td style="text-align: center"><a href="{% url 'create_task' employee.id %}" class="btn btn-sm btn-outline-info">+</a> </td>
                                <td><a class="btn btn-outline-info btn-sm" href="{% url 'employee_profile' employee.id %}">View</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}