<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="Request()">req</button>
</body>

<script>
    function getCookie(name) {
		    let cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        const cookies = document.cookie.split(';');
		        for (let i = 0; i < cookies.length; i++) {
		            const cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
const csrftoken = getCookie('csrftoken');

function Request(){
	var url = 'http://127.0.0.1:8000/api-test'
	fetch(url)
	.then(response => response.json())
	.then(

		function(data){
            console.log(data)
		}

		)
}
</script>
</html>