<div class="col-md">
    <div class="card card-body">
        <h5>Tasks Processing</h5>
        <hr color="yellow" style="height: 5px; border: 2px; border-radius: 3px 3px 3px 3px;">
        <h1 style="text-align: center;padding: 10px">{{tasks_processing_count}}</h1>
    </div>
</div>
<div class="col-md">
    <div class="card card-body">
        <h5>More</h5>
        <hr>
        <a class="btn btn-outline-primary  btn-sm btn-block" href="{% url 'create_task' -1 %}">Add Task</a>

        <a class="btn btn-outline-success  btn-sm btn-block" href="{% url 'statistics' %}">Statistics</a>

    </div>
</div>

<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['bar']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses', 'Profit'],
                ['2014', 1000, 400, 200],
                ['2015', 1170, 460, 250],
                ['2016', 660, 1120, 300],
                ['2017', 1030, 540, 350]
            ]);

            var options = {
                chart: {
                    title: 'Company Performance',
                    subtitle: 'Sales, Expenses, and Profit: 2014-2017',
                }
            };

            var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</head>
<body>
<div id="columnchart_material" style="width: 800px; height: 500px;"></div>
</body>
</html>
