<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="signup-form">
                    <form method="post" class="mt-5 border p-4 bg-light shadow">
                        {% csrf_token %}
                        <h4 class="mb-4 text-secondary">Create Your Account</h4>
                        <div class="row">
                            <div class="mb-3 col-md-12 text-start">
                                <label>First Name</label>
                                <input type="text" name="first_name" value="{{form.data.first_name}}" class="form-control" placeholder="Enter First Name" required="required">
                                {% if first_name_error %}
                                    <label><div class="text-sm text-danger"><em>{{first_name_error}}</em></div></label>
                                {% endif %}
                            </div>
                            <div class="mb-3 col-md-12">
                                <label>Last Name</label>
                                <input type="text" name="last_name" value="{{form.data.last_name}}" class="form-control" placeholder="Enter Last Name" required="required">
                                {% if last_name_error %}
                                    <label><div class="text-sm text-danger"><em>{{last_name_error}}</em></div></label>
                                {% endif %}
                            </div>
                            <div class="mb-3 col-md-12">
                                <label>Username</label>
                                <input type="text" name="username" value="{{form.data.username}}" class="form-control" placeholder="Enter username" required="required">
                                {% if username_error %}
                                    <label><div class="text-sm text-danger"><em>{{username_error}}</em></div></label>
                                {% endif %}
                            </div>
                            <div class="mb-3 col-md-12">
                                <label>Password</label>
                                <input type="password" name="password1" class="form-control" placeholder="Enter Password" required="required">
                            </div>
                            <div class="mb-3 col-md-12">
                                <label>Confirm Password</label>
                                <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required="required">
                                {% if password_error %}
                                    <label><div class="text-sm text-danger"><em>{{password_error}}</em></div></label>
                                {% endif %}
                            </div>
                            <div class="col-md-12 text-center">
                               <button type="submit" class="btn btn-primary float-end ">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</body>


</html>
